@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    font-family: 'Satisfy', cursive;
    font-size: 1.4rem;
    font-weight: 500;
}


body {
    background-image: url(/src/img/fondo_saco.jpg);
    background-repeat: repeat;
    /* margin-top: 100px; */
}

footer {
    padding: 1.5rem;
}

.navbar {
    /* margin-bottom: 100px; */
    background-color: rgb(250, 235, 215, 0.5);
}

.nav-link:hover {
    background-color: rgb(255, 228, 196, 0.5);
    border-radius: 15px;
    box-shadow: 2px 2px 10px;
}

.dropdown-menu {
    background-color: rgb(250, 235, 215, 0.8);
}

.dropdown-item:hover {
    background-color: rgb(250, 235, 215, 0.8);
    border-radius: 15px;
}

.info-header {
    background-color: rgb(250, 235, 215, 0.5);
    border-radius: 15px;
}

.dish {
    object-fit: cover;
}

.dish-container{
    padding: 10px;
}

.dish-container:hover {
    box-shadow: 2px 2px 10px;
}

#carouselWithInterval {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}

.location-map {
    margin: 5%;
    height: 500px;
}